*{
    box-sizing: border-box;
}

:root{
    --main-bg-color: rgba(7, 7, 24, 0.815);
    --secondary-bg-color: rgba(29, 29, 51, 0.781);
    --main-txt-color: white;
    --secondary-text-color: rgb(221, 155, 33);
    --skill-color: rgba(2, 2, 10, 0.815);
    --main-padding: ;
    --main-font-size: 20px;
    --button-color: red;
}

@font-face {
    font-family: rubik;
    src: url(../fonts/Rubik/static/Rubik-Regular.ttf);
}

html{
    scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
    font-size: 15px;
    line-height: 1.4;
    font-family: rubik;
    color: var(--main-txt-color);
    background: var(--main-bg-color);
    
}

header{
    background-color: #fff;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 2px 2px 4px 2px rgb(214, 210, 210);
}

header .header-brand{
    font-size: 24px;
    font-weight: 900;
    color: #111;
    /* text-transform: uppercase; */
    display: block;
    padding: 25px 10px;
    text-decoration: none;
}

header nav  {
    position: absolute;
    top: 0;
    left: 18%;

}

header nav ul li {
    display: inline-block;
    padding: 0 0px;
    list-style: none;
}

header nav ul li a {
    line-height: 60px;
    font-size: 16px;
    color: #111;
    text-transform: uppercase;
    text-decoration: none;
    padding: 7px 14px;
}

header nav ul li a:hover{
    background: rgba(221, 218, 218, 0.356);
    border-bottom: 2px solid var(--secondary-text-color);
} 

.header-nav-icon-container{
    padding: 0px 10px;
    display: inline-block;
}

#icon-link{
    position: absolute;
    top: 0;
    right: 30px;
    line-height: 60px;
    padding: 16px 0px;
}

#icon-link > a i{
    padding: 0px 6px;
    font-size: var(--main-font-size);
}

#icon-link a:nth-child(1){
    color: blue;
}

#icon-link a:nth-child(2){
    color: rgb(34, 144, 235);
}

#icon-link a:nth-child(3){
    color: rgb(31, 31, 58);
}

#icon-link a:nth-child(4){
    color: red;
}


/* drop down */

.drop-down-content{
    display: none;
    position: absolute;
    z-index: 1000;
}

.drop-down-content a{
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-bg-color);
    color: var(--main-txt-color);
    padding: 0px 30px;
    border-bottom: 1px solid gray;
    text-transform: capitalize;
}

.drop-down-content a:hover{
    border-bottom: none;
    background: var(--main-bg-color);
}

.drop-down-1:hover  > .drop-down-content{
    display: block;
}

.fa-angle-down{
    padding: 0px 10px;
    font-size: var(--main-font-size);
    transition: transform .25s ease-in-out;
    -webkit-transition: transform .25s ease-in-out;
    -moz-transition: transform .25s ease-in-out;
    -ms-transition: transform .25s ease-in-out;
    -o-transition: transform .25s ease-in-out;
}

.drop-down-1:hover .fa-angle-down{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.index-banner{
    width: 100%;
    height:calc(80vh - 100px);
    background-image: url(../image/hero.bg.jpg);
    background-blend-mode: overlay;
    background-color: rgb(48, 35, 35);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}


.vertical-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
    margin-top: 60px;
}

.index-banner h2{
    font-size: 60px;
    color: #fff;
    text-align: center;
    font-weight: 900;
    line-height: 70px;
    text-shadow: 2px 2px 8px #111;
}

.index-banner h1{
    font-size: 28px;
    color: #fff;
    text-align: center;
    font-weight: 100;
    font-style: italic;
    line-height: 40px;
    text-shadow: 2px 2px 8px #111;
}


main{
    background: var(--main-bg-color);
    color: var(--main-txt-color);
}

/* h1 styling */
h1{
    text-align: center;
    text-transform: capitalize;
    font-size: 35px;
}

/* about section */

.about-section{
    width: 100%;
    padding: 80px 10px;
    background: var(--secondary-bg-color);
}

.index-about-section{
    background: var(--secondary-bg-color);
}

.about-section-description-text-xl{
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
}

.about-section-description-text-xl-sub-text{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}


.about-section-description-text-xl-sub-section-text{
    margin-top: 20px;
}

.about-section-description-text-xl-sub-text button{
    background: var(--secondary-text-color);
    color: var(--main-txt-color);
    padding: 10px 10px;
    border: none;
    margin-top: 10px;
    font-weight: bold;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    transition: background .9s ease-in;
    -webkit-transition: background .9s ease-in;
    -moz-transition: background .9s ease-in;
    -ms-transition: background .9s ease-in;
    -o-transition: background .9s ease-in;
}

.about-section-description-text-xl-sub-text button:hover{
    background: gray;
}

.img-img{
    width: 500px;
    height: 500px;
    padding: 20px;
    background: var(--main-bg-color);
    border: 1px solid var(--secondary-text-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.about-img{
    margin: 0px 5px;
    background-color: rgba(134, 103, 103, 0.637);
    padding: 20px;
    border: 3px solid var(--main-bg-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
    animation: myBg 2s linear .2s 3;
    -webkit-animation: myBg 2s linear .2s 3;
}

@keyframes myBg{
    0%{ transform:rotate(20deg) ; -webkit-transform:rotate(20deg) ; -moz-transform:rotate(20deg) ; -ms-transform:rotate(20deg) ; -o-transform:rotate(20deg) ; }
}

.skill i{
    position: absolute;
    top: 40%;
    left: -5;
    font-size: 45px;
}

.css i{
    position: absolute;
    top: 40%;
    left: 95%;
    font-size: 45px;
}

.js i{
    position: absolute;
    bottom: 0;
    left: 50%;
    font-size: 45px;
}


/* SERVICE CONTENT */

#index-service-section-container{
    padding: 80px 10px;
}

.index-service-items{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 20px;padding: 10px;
}

.index-service-items > div{
    width: 300px;
    height: 380px;
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: 1px solid white;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    transition: box-shadow .25s ease-in, left .25s ease-in, top .25s ease-in, right .25s ease-in;
    -webkit-transition: box-shadow .25s ease-in, left .25s ease-in, top .25s ease-in, right .25s ease-in;
    -moz-transition: box-shadow .25s ease-in, left .25s ease-in, top .25s ease-in, right .25s ease-in;
    -ms-transition: box-shadow .25s ease-in, left .25s ease-in, top .25s ease-in, right .25s ease-in;
    -o-transition: box-shadow .25s ease-in, left .25s ease-in, top .25s ease-in, right .25s ease-in;
    z-index: 500;
    text-align: center;
}

.index-service-items > div:hover{
    left: 5px;
    right: 5px;
    top: 5px;
    box-shadow: 2px 3px 8px 2px white;
}

.index-service-items > div i{
    border: 1px solid gray;
    padding: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.index-service-items > div:hover i{
    background-color: gray;
}

.index-service-sub-items{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
    text-align: center;
}

.index-service-sub-items > div{
    padding: 20px 0px;
    width: 200px;
    height: 180px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid white;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    transition: box-shadow .25s ease-in, left .25s ease-in, top .25s ease-in, right .25s ease-in;
    -webkit-transition: box-shadow .25s ease-in, left .25s ease-in, top .25s ease-in, right .25s ease-in;
    -moz-transition: box-shadow .25s ease-in, left .25s ease-in, top .25s ease-in, right .25s ease-in;
    -ms-transition: box-shadow .25s ease-in, left .25s ease-in, top .25s ease-in, right .25s ease-in;
    -o-transition: box-shadow .25s ease-in, left .25s ease-in, top .25s ease-in, right .25s ease-in;
    z-index: 500;
}

.index-service-sub-items > div:hover{
    left: 5px;
    right: 5px;
    top: 5px;
    box-shadow: 2px 2px 6px 2px white;
}

.index-service-sub-items > div i{
    border: 1px solid gray;
    padding: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#index-service-items-container > div i{
    transition: background .25s ease-in;
    -webkit-transition: background .25s ease-in;
    -moz-transition: background .25s ease-in;
    -ms-transition: background .25s ease-in;
    -o-transition: background .25s ease-in;
}


.index-service-sub-items > div:hover i{
    background-color: gray;
}

.index-service-items i{
    color: var(--secondary-text-color);
}

.index-service-items > div:nth-child(2) i{
    background: var(--secondary-text-color);
    color: var(--main-txt-color);
}

.index-service-sub-items h4{
    color: var(--secondary-text-color);
    font-size: var(--main-font-size);
}

/* portfolio page */

.testimonials{
    background-color: var(--secondary-bg-color);
    padding: 80px 20px;
}

.testimonials .container{
    width: 60%;
    margin: auto;
    text-align: center;
}


.testimonials .testimonial-item {
    text-align: center;
    min-height: 320px;
  }
  .testimonials .testimonial-item .testimonial-img {
    width: 90px;
    border-radius: 50%;
    margin: 0 auto;
  }
  .testimonials .testimonial-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: var(--secondary-text-color);
  }
  .testimonials .testimonial-item h4 {
    font-size: 14px;
    color: #999;
    margin: 0;
  }

   .testimonial-item p {
    font-style: italic;
    margin: 0 15px 15px 15px;
    padding: 20px;
    /* background: #fff; */
    position: relative;
    margin-bottom: 35px;
    border-radius: 6px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
    .testimonial-item p::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 20px solid var(--secondary-bg-color);
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    position: absolute;
    bottom: -20px;
    left: calc(50% - 20px);
  }

/* skill content page */

#index-skill-content-text{
    padding: 80px 20px;
}

.index-skill-content-container{
    background: var(--secondary-bg-color);
    padding: 20px;
}


.container{
    width: 500px;
}

.text{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.design{
    background: rgba(151, 151, 151, 0.712);
}

.html{
    width: 80%;
    padding: 6px 0px;
    background: var(--skill-color);
}

.web{
    width: 90%;
}

.ui{
    width: 40%;
}

.text-2{
    width: 40%;
}

.graphic-design-skill{
    width: 70%;
}

.illustration{
    width: 60%;
}

.flex{
    display: grid;
  align-items: center;
    justify-content: center;
    grid-template-columns: 50% 40%;
}


/* index blog page */

.index-blog-page{
    padding-top: 80px;
}

 /* Right column */
 .rightcolumn {
    /* float: left; */
    padding-left: 20px;
  }

  .row{
      display: grid;
      grid-template-columns: 70% 30%;
      gap: 10px;
      padding: 0px 10px;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: var(--secondary-bg-color);
    width: 100%;
  }
  
  /* Add a card effect for articles */
  .card {
    padding: 20px;
    margin-top: 20px;
  }

  .card-follow-me-icons{
      display: flex;
      justify-content: center;
      gap: 20px;
      text-align: center;
  }

  .card-follow-me-icons > div:nth-child(1) i{
    color: blue;
  }

  .card-follow-me-icons > div:nth-child(2) i{
    color:   red;
}

.card-follow-me-icons > div:nth-child(3) i{
    color: rgb(31, 31, 58);
}

.index-blog-page-sub-item-text-xl{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index-blog-page-link{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.index-blog-page-link button{
    cursor: pointer;
    border: none;
    padding: 5px 10px;
    background: var(--secondary-text-color);
    transition: background .25s ease-in;
    -webkit-transition: background .25s ease-in;
    -moz-transition: background .25s ease-in;
    -ms-transition: background .25s ease-in;
    -o-transition: background .25s ease-in;
}

.index-blog-page-link button:hover{
    background: var(--main-txt-color);
}

.index-blog-page-text-description-xl{
    width: 50%;
    text-align: center;
    font-size: var(--main-font-size);
}
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: var(--main-bg-color);
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  /* @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
  } */

  /* index-contact-content-text-xl-content */

  .index-contact-content{
      padding-top: 80px;
  }

  #index-contact-content-text-xl-content{
      display: flex;
      justify-content: space-evenly;
  }

  .index-contact-content-text-xl-item1{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      gap: 40px;

  }


  .index-contact-content-text-xl-item1 > div i{
      border: none;
  }

  .index-contact-input-content{
      display: flex;
      gap: 20px;
  }

  .index-contact-input-content > input{
      background: transparent;
      color: white;
      outline: none;
      padding: 12px 20px;
      border: 1px solid gray;
  }

  .index-contact-input-content > input:focus{
      color: white;
  }

  #index-contact-textarea-xl{
      width: 100%;
      margin-top: 20px;
  }

  textarea{
      background: transparent;
      color: white;
      outline: none;
      border: 1px solid gray;
  }

  #index-contact-text-btn{
      background: var(--button-color);
      color: var(--main-txt-color);
      font-weight: bold;
      margin-top: 20px;
      margin-bottom: 20px;
      /* outline: none; */
      border: none;
      padding: 14px;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      text-transform: capitalize;
}

#index-contact-text-btn:hover{
    background: rgba(173, 161, 161, 0.247);
    color: var(--main-txt-color);
}

.index-contact-content-1-text-xl-item1{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.index-contact-content-1-text-xl-item1-items{
    display: flex;
    gap: 40px;
}

.index-contact-content-1-text-xl-item1-items i{
    padding: 10px 6px;
    border: 1px solid var(--secondary-text-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
